.sidebar {
    // background-color: #fcf;
    // border: 1px solid;
    // max-width: 8em;
    flex-basis: 9%;
    height: 90vh; // height: calc(88vh-88px);
    // box-shadow: 0px 5px 2px yellowgreen;
    background: linear-gradient(to top, #FFEB3B 0%, #FF9800 100%);
    &__element {
        // border: 1px solid purple; // text-align: center;
        &__search,
        &__adduser {
            height: 2.3em;
            width: 100%; // padding: 17% 27%;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-content: center;
            .fa {
                align-self: center;
            }
        }
        &__adduser {
            height: 1.8em;
            font-size: 2.5rem;
            .fa {
                // background-color: red;
                // border-radius: 50%;
                // padding: .2em .25em;
                // padding-top: .25em;
            }
        }
    }
}

.user {
    // border: 1px solid;
    padding: 17%;
    &--hover {
        border: 1px solid;
        border-radius: 5px;
        padding: .5em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 100%;
        left: 0%;
        font-size: .8rem;
        // width: 0;
        visibility: hidden;
        z-index: -1;
        background-color: black;
        color: white;
        // z-index: 1;
                width:max-content;

        transition: all .1s linear;
    }
    &__avatar {
        position: relative;
        pointer-events: none;
        .circle {
            position: absolute;
            top: 80%;
            right: 10%;
            color: #22b322;
            height: 1rem;
            width: 1rem; // z-index: 1;
            background-color: #22b322;
            border-radius: 50%;
            border: 2px solid white;
            z-index: 3;
            &.offline {
                background-color: gray;
            }
        }
        &__container {
            position: relative;
            border-radius: 50%;
            padding-top: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 2;
        }
    }
            &:hover &--hover {
                z-index: 1;
                visibility: visible;
        left: 100%;

            }
}

a {
    color: black;
    display: block;
}